<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dossier Médical</title>
</head>

<body>
  <div class="app-wrapper">
    <app-menu></app-menu>
    <div class="app-content">
      <app-header></app-header>

      <div class="container-fluid">
        <app-tabs></app-tabs>

        <main>
          <div class="row m-1">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="header-title">Antécédents</h4>
                </div>

                <div class="card-body">
                  <div class="container">

                    <!-- Sélection du type -->
                    <label for="historyType">Choisir un antécédent :</label>
                    <select id="historyType" [(ngModel)]="selectedType" (ngModelChange)="onTypeChange($event)"
                      class="form-control" required>
                      <option value="">Sélectionnez un type</option>
                      <option value="vaccin">Vaccin</option>
                      <option value="allergie">Allergie</option>
                      <option value="medicaux">Médicaux</option>
                      <option value="familiaux">Familiaux</option>
                      <option value="ist">IST</option>
                    </select>
                    <div
                      *ngIf="updateForm.get('historyType')?.invalid && updateForm.get('historyType')?.touched">
                      <small class="text-danger">Veuillez sélectionner un type d’antécédent.</small>
                    </div>

                    <form [formGroup]="updateForm" (ngSubmit)="updateMedicalHistory()" >

                      <!-- Vaccination -->
                      <div *ngIf="selectedType === 'vaccin'">
                        <div class="form-group">
                          <label for="vaccineCode">Code du Vaccin</label>
                          <input type="text" id="vaccineCode" formControlName="vaccineCode" class="form-control" />
                          <div *ngIf="vaccineCode?.invalid && (vaccineCode?.touched || vaccineCode?.dirty)">
                            <small class="text-danger">code obligatoire.</small>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="vaccineType">Type de Vaccin</label>
                          <input type="text" id="vaccineType" formControlName="vaccineType" class="form-control" />
                          <div *ngIf="vaccineType?.invalid && (vaccineType?.touched || vaccineType?.dirty)">
                            <small class="text-danger">Type obligatoire.</small>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="vaccineBatchNumber">Numéro de Lot</label>
                          <input type="text" id="vaccineBatchNumber" formControlName="vaccineBatchNumber"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="vaccineStatus">Statut du Vaccin</label>
                          <input type="text" id="vaccineStatus" formControlName="vaccineStatus" class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="vaccineDate">Date de Vaccination</label>
                          <input type="date" id="vaccineDate" formControlName="vaccineDate" class="form-control" />
                          <div *ngIf="vaccineDate?.invalid && (vaccineDate?.touched || vaccineDate?.dirty)">
                            <small class="text-danger">La date est obligatoire.</small>
                          </div>
                        </div>
                      </div>

                      <!-- Allergies -->
                      <div *ngIf="selectedType === 'allergie'">
                        <div class="form-group">
                          <label for="allergyDiagnosisDate">Date de diagnostic</label>
                          <input type="date" id="allergyDiagnosisDate" formControlName="allergyDiagnosisDate"
                            class="form-control" />
                            <div *ngIf="allergyDiagnosisDate?.invalid && (allergyDiagnosisDate?.touched || allergyDiagnosisDate?.dirty)">
                              <small class="text-danger">Champ obligatoire.</small>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="allergyType">Type d'Allergie</label>
                          <input type="text" id="allergyType" formControlName="allergyType" class="form-control" />
                          <div *ngIf="allergyType?.invalid && (allergyType?.touched || allergyType?.dirty)">
                            <small class="text-danger">champ obligatoire.</small>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="allergyReaction">Réaction</label>
                          <input type="text" id="allergyReaction" formControlName="allergyReaction"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="allergyMedication">Médication</label>
                          <input type="text" id="allergyMedication" formControlName="allergyMedication"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="allergyStatus">Statut de l'Allergie</label>
                          <input type="text" id="allergyStatus" formControlName="allergyStatus" class="form-control" />
                        </div>
                      </div>

                      <!-- Conditions Médicales -->
                      <div *ngIf="selectedType === 'medicaux'">
                        <div class="form-group">
                          <label for="medicalCondition">Condition Médicale</label>
                          <input type="text" id="medicalCondition" formControlName="medicalCondition"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="medicalDiagnosisDate">Date de Diagnostic</label>
                          <input type="date" id="medicalDiagnosisDate" formControlName="medicalDiagnosisDate"
                            class="form-control" />
                            <div *ngIf="medicalDiagnosisDate?.invalid && (medicalDiagnosisDate?.touched || medicalDiagnosisDate?.dirty)">
                              <small class="text-danger">champ obligatoire.</small>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="medicalTreatment">Traitement</label>
                          <input type="text" id="medicalTreatment" formControlName="medicalTreatment"
                            class="form-control" />
                            <div *ngIf="medicalTreatment?.invalid && (medicalTreatment?.touched || medicalTreatment?.dirty)">
                              <small class="text-danger">champ obligatoire.</small>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="medicalTreatmentStartDate">Début du Traitement</label>
                          <input type="date" id="medicalTreatmentStartDate" formControlName="medicalTreatmentStartDate"
                            class="form-control" />
                            <div *ngIf="medicalTreatmentStartDate?.invalid && (medicalTreatmentStartDate?.touched || medicalTreatmentStartDate?.dirty)">
                              <small class="text-danger">champ obligatoire.</small>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="medicalTreatmentEndDate">Fin du Traitement</label>
                          <input type="date" id="medicalTreatmentEndDate" formControlName="medicalTreatmentEndDate"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="medicalFollowUp">Suivi Médical</label>
                          <input type="text" id="medicalFollowUp" formControlName="medicalFollowUp"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="medicalStatus">Statut Médical</label>
                          <input type="text" id="medicalStatus" formControlName="medicalStatus" class="form-control" />
                        </div>
                      </div>

                      <!-- Antécédents Familiaux -->
                      <div *ngIf="selectedType === 'familiaux'">
                        <div class="form-group">
                          <label for="hereditaryDisease">Maladie Héréditaire</label>
                          <input type="text" id="hereditaryDisease" formControlName="hereditaryDisease"
                            class="form-control" />
                            <div *ngIf="hereditaryDisease?.invalid && (hereditaryDisease?.touched || hereditaryDisease?.dirty)">
                              <small class="text-danger">champ obligatoire.</small>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="affectedFamilyMember">Membre de la famille concerné</label>
                          <input type="text" id="affectedFamilyMember" formControlName="affectedFamilyMember"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="familyDiagnosisDate">Date du Diagnostic</label>
                          <input type="date" id="familyDiagnosisDate" formControlName="familyDiagnosisDate"
                            class="form-control" />
                            <div *ngIf="familyDiagnosisDate?.invalid && (familyDiagnosisDate?.touched || familyDiagnosisDate?.dirty)">
                              <small class="text-danger">champ obligatoire.</small>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="familyStatus">Statut de l'Antécédent Familial</label>
                          <input type="text" id="familyStatus" formControlName="familyStatus" class="form-control" />
                        </div>
                      </div>

                      <!-- IST (Infections Sexuellement Transmissibles) -->
                      <div *ngIf="selectedType === 'ist'">
                        <div class="form-group">
                          <label for="stiType">Type de IST</label>
                          <input type="text" id="stiType" formControlName="stiType" class="form-control" />
                          <div *ngIf="stiType?.invalid && (stiType?.touched || stiType?.dirty)">
                            <small class="text-danger">champ obligatoire.</small>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="stiDiagnosisDate">Date de Diagnostic</label>
                          <input type="date" id="stiDiagnosisDate" formControlName="stiDiagnosisDate"
                            class="form-control" />
                            <div *ngIf="stiDiagnosisDate?.invalid && (stiDiagnosisDate?.touched || stiDiagnosisDate?.dirty)">
                              <small class="text-danger">champ obligatoire.</small>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="stiTreatment">Traitement</label>
                          <input type="text" id="stiTreatment" formControlName="stiTreatment" class="form-control" />
                          <div *ngIf="stiTreatment?.invalid && (stiTreatment?.touched || stiTreatment?.dirty)">
                            <small class="text-danger">champ obligatoire.</small>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="stiTreatmentStartDate">Début du Traitement</label>
                          <input type="date" id="stiTreatmentStartDate" formControlName="stiTreatmentStartDate"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="stiTreatmentEndDate">Fin du Traitement</label>
                          <input type="date" id="stiTreatmentEndDate" formControlName="stiTreatmentEndDate"
                            class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="stiFollowUp">Suivi</label>
                          <input type="text" id="stiFollowUp" formControlName="stiFollowUp" class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="stiStatus">Statut de l'IST</label>
                          <input type="text" id="stiStatus" formControlName="stiStatus" class="form-control" />
                        </div>
                      </div>

                      <!-- Submit -->
                      <button type="submit" class="btn btn-primary" style="background-color: #2f2594; color: white;"
                        [disabled]="updateForm.invalid">
                        Enregistrer
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</body>

</html>
