<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-12">
        <div class="footer-text">
          <p class="f-w-500 mb-0">Copyright © 2025 axelit. All rights reserved <a class="f-w-600 text-primary" href="#">
              V1.0.0 </a> ✨</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-text text-end">
          <a href="mailto:teqlathemes@gmail.com."> Need Help <i class="ti ti-help"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
