

  <div class="app-wrapper default">
    <app-menu></app-menu>
    <div class="app-content">
      <app-header></app-header>
      <div class="container-fluid">

        <main>
          <div class="patient-summary">
            <h2>Patient : {{patient?.firstName}} {{patient?.lastName}} | Dossier : {{patient?.medicalRecordNumber}}</h2>

            <p>Dernier CD4 : {{latestCd4 ?? 'Non disponible'}} | Dernière charge virale : {{latestViralLoad ?? 'Non disponible'}}</p>

            <div *ngIf="alert" class="alert alert-danger">
              ⚠️ Alerte : Charge virale détectable ({{latestViralLoad}} copies/mL) le {{alertDate}}
            </div>

          <div *ngIf="loading">
            <p>Chargement des données...</p>
          </div>

          <div *ngIf="!loading && result">
            <p><strong>Nom du traitement Actuel:</strong> {{ result.treatmentName }}</p>
            <p><strong>Efficacité:</strong> {{ result.effective ? 'Oui' : 'Non' }}</p>
          </div>

          <div *ngIf="errorMessage" class="error">
            <p>{{ errorMessage }}</p>
          </div>
          </div>

          <mat-tab-group class="tabs">
            <mat-tab label="Évolution CD4">
              <div class="chart-container">
                <canvas baseChart
                  [data]="{ labels: lineChartLabels, datasets: cd4ChartData }"
                  [options]="lineChartOptions"
                  [type]="lineChartType"
                  [plugins]="[ChartDataLabels]">
                </canvas>
              </div>
            </mat-tab>
            <mat-tab label="Évolution Charge Virale">
              <div class="chart-container">
                <canvas baseChart
                  [data]="{ labels: lineChartLabels, datasets: viralLoadChartData }"
                  [options]="lineChartOptions"
                  [type]="lineChartType"
                  [plugins]="[ChartDataLabels]">
                </canvas>
              </div>
            </mat-tab>
          </mat-tab-group>


          <div class="legend">
            <h3>Légende traitements :</h3>
            <div class="legend-item" *ngFor="let item of treatmentLegend">
              <span class="color-box" [style.background]="item.color"></span> {{ item.name }}
            </div>
          </div>






        </main>
      </div>
    </div>
  </div>


