<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dossier Médical</title>

</head>

<body>
  <div class="app-wrapper default">
    <app-menu></app-menu>
    <div class="app-content">
      <app-header></app-header>

      <div class="container-fluid">
        <app-tabs></app-tabs>
        <main>

          <form [formGroup]="ClinicalSymptomsForm" (ngSubmit)="updateClinicalSymptoms()">
            <div class="row m-1">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="header-title">Examen clinique</h4>
                  </div>

                  <div class="card-body">
                    <div class="row">
                      <!-- Première colonne -->
                      <div class="col-lg-6">
                        <!-- General Signs -->
                        <div formArrayName="generalSigns">
                          <h3>Signes généraux</h3>
                          <div *ngFor="let option of options['generalSigns']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'generalSigns', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Dermatological -->
                        <div formArrayName="dermatological">
                          <h3>Signes dermatologiques</h3>
                          <div *ngFor="let option of options['dermatological']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'dermatological', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- NeuroMuscular -->
                        <div formArrayName="neuroMuscular">
                          <h3>Signes neuro-musculaires</h3>
                          <div *ngFor="let option of options['neuroMuscular']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'neuroMuscular', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Orl -->
                        <div formArrayName="ent">
                          <h3>Signes ORL</h3>
                          <div *ngFor="let option of options['ent']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option" (change)="onCheckboxChange($event, 'ent', option)"
                                [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>
                        <!-- Puberty -->
                        <div formArrayName="puberty">
                          <h3>Puberté</h3>
                          <div *ngFor="let option of options['puberty']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'puberty', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>
                      </div>

                      <!-- Deuxième colonne -->
                      <div class="col-lg-6">
                        <!-- Psychiatric -->
                        <div formArrayName="psychiatric">
                          <h3>Signes psychiatriques</h3>
                          <div *ngFor="let option of options['psychiatric']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'psychiatric', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Cardiovascular -->
                        <div formArrayName="cardiovascular">
                          <h3>Signes cardiovasculaires</h3>
                          <div *ngFor="let option of options['cardiovascular']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'cardiovascular', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Digestive -->
                        <div formArrayName="digestive">
                          <h3>Signes digestifs</h3>
                          <div *ngFor="let option of options['digestive']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'digestive', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Lipodystrophy -->
                        <div formArrayName="lipodystrophy">
                          <h3>Signes lipodystrophiques</h3>
                          <div *ngFor="let option of options['lipodystrophy']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'lipodystrophy', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Genitourinary -->
                        <div formArrayName="genitourinary">
                          <h3>Signes génito-urinaires</h3>
                          <div *ngFor="let option of options['genitourinary']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'genitourinary', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Ophthalmological -->
                        <div formArrayName="ophthalmological">
                          <h3>Signes ophtalmologiques</h3>
                          <div *ngFor="let option of options['ophthalmological']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'ophthalmological', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>

                        <!-- Pulmonary -->
                        <div formArrayName="pulmonary">
                          <h3>Signes pulmonaires</h3>
                          <div *ngFor="let option of options['pulmonary']; let i = index">
                            <label>
                              <input type="checkbox" [value]="option"
                                (change)="onCheckboxChange($event, 'pulmonary', option)" [formControlName]="i" />
                              {{ option }}
                            </label>
                          </div>
                        </div>


                        <br>
                        <!-- Clinical Symptoms Date -->
                        <div class="Date">
                          <label for="clinicalSymptomsDate">Date des symptômes cliniques</label>
                          <input type="date" formControlName="clinicalSymptomsDate" class="custom-date" [class.is-invalid]="isInvalidAndTouchedOrDirty(clinicalSymptomsDate)" required="">
                          <small class="text-danger" *ngIf="isInvalidAndTouchedOrDirty(clinicalSymptomsDate)"> Date d'ajout obligatoire
                          </small>
                        </div>

                        <!-- Submit Button -->
                        <br>
                      </div>
                      <button type="submit" [disabled]="!ClinicalSymptomsForm.valid">Enregistrer</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </main>
      </div>
    </div>
  </div>


</body>

</html>

