header{
  background-color: rgb(115, 208, 127);
}
.head-icon .d-flex {
  display: flex;
  align-items: center;
}

.head-icon img {
  border-radius: 50%; /* Pour arrondir l'image */
}

a .d-flex p {
  margin-left: 10px; /* Espacement entre l'image et le texte */
  font-size: 20px !important;
  color: #ebebeb !important; /* Couleur sombre pour le texte */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police moderne */
  font-weight: 500; /* Poids du texte pour plus de lisibilité */
  line-height: 1.5; /* Espacement entre les lignes pour aérer le texte */
  letter-spacing: 0.5px; /* Espacement entre les lettres */
  text-transform: capitalize; /* Mettre en majuscule la première lettre de chaque mot */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

