h3{
  color: rgb(4, 4, 96);
  margin-left: 30px;
}
button {
  background-color: #5e4caf; /* Couleur de fond verte */
  color: white; /* Texte en blanc */
  padding: 12px 24px; /* Espacement interne (padding) */
  border: none; /* Retire les bordures */
  border-radius: 4px; /* Bordures arrondies */
  font-size: 16px; /* Taille du texte */
  cursor: pointer; /* Curseur pointeur au survol */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animation au survol */
}

/* Effet de survol */
button:hover {
  background-color: #454ea0; /* Couleur de fond légèrement plus sombre */
  transform: scale(1.05); /* Agrandir légèrement le bouton au survol */
}

/* Effet lorsqu'on clique sur le bouton */
button:active {
  background-color: #256de9; /* Couleur de fond encore plus sombre lors du clic */
  transform: scale(0.98); /* Réduire légèrement la taille du bouton */
}

/* Désactiver le bouton */
button:disabled {
  background-color: #2926b6; /* Couleur de fond grise lorsque désactivé */
  cursor: not-allowed;
}
body{
  background-color: rgb(226, 236, 249);
;
}
