nav{
  background-color: rgb(177, 231, 189);
}
h1{
  color: rgb(1, 86, 46);
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;

}
