button{
  background-color: rgb(98, 153, 198);
}
.bt{
  background-color: rgb(255, 255, 255);
  margin-left: 30px;
  border: none;
}
body {
  margin: 0;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  height: calc(100vh - 100px);

}
html, body {
  margin: 0; /* Élimine les marges par défaut */
  padding: 0; /* Élimine les paddings par défaut */
  height: 100%; /* Assure que html et body prennent toute la hauteur disponible */
  background-color: rgb(226, 236, 249); /* Applique la couleur de fond sur toute la page */

}

