<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
  data-sidebar-image="none" data-preloader="disable">

<head>

  <meta charset="utf-8" />
  <title>Liste des patients</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />

</head>

<body>


  <div class="app-wrapper default">
    <app-menu></app-menu>
    <div class="app-content">
      <app-header></app-header>

      <div class="container-fluid">

        <main>
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <a href="/newpatient" class="btn btn-primary">
              <i class="ri-user-add-line"></i> + nouveau dossier médical
            </a>

            <!-- Barre de recherche avec icône -->
            <div class="input-group" style="max-width: 300px;">
              <input type="text" id="searchPatient" class="form-control" placeholder="Rechercher un patient...">
              <span class="input-group-text"><i class="ri-search-line"></i></span>
            </div>
          </div>

          <div class="container-fluid">


            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title mb-0">Liste des Patients sous Traitement </h5>
                  </div>
                  <div class="card-body">
                    <table id="scroll-horizontal" class="table nowrap align-middle" style="width:100%">
                      <thead>
                        <tr>

                          <th>ID</th>
                          <th>Nom Patient</th>
                          <th>sexe</th>
                          <th>Nom du traitement</th>
                          <th>date du début du traitement</th>
                          <th>Durée de la prise</th>
                          <th>date prévue prochaine prise</th>
                          <th>durée de perte de vue</th>

                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let patient of listPatients">

                          <td>{{patient.id}}</td>
                          <td>{{patient.lastName}} {{patient.firstName}}</td>
                          <td>{{patient.gender}}</td>
                          <td>VLZ1400087402</td>
                          <td>Joseph Parker</td>
                          <td>Alexis Clarke</td>
                          <td><span class="badge bg-danger">High</span></td>
                          <td><span class="badge bg-info-subtle text-info">Re-open</span></td>

                          <td>
                            <div class="dropdown d-inline-block">
                              <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-fill align-middle"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-end">
                                <li><a [routerLink]="['/medicalfolder', patient.id]" class="dropdown-item"><i
                                      class="ri-eye-fill align-bottom me-2 text-muted"></i> Consulter dossier médical
                                  </a></li>
                                <li><a class="dropdown-item edit-item-btn"><i
                                      class="ri-pencil-fill align-bottom me-2 text-muted"></i> Prescrire un
                                    traitement</a></li>
                                <li>
                                  <a class="dropdown-item remove-item-btn">
                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Analyser les
                                    tendances
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </main>

      </div>
    </div>

  </div>

</body>

</html>
