<!DOCTYPE html>




<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="assets/" data-template="vertical-menu-template" data-style="light">



<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Register Basic - Pages | Materialize - Material Design HTML Admin Template</title>


  <meta name="description"
    content="Materialize – is the most developer friendly &amp; highly customizable Admin Dashboard Template." />
  <meta name="keywords">


</head>

<body>




  <div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
      <div class="authentication-inner py-6">

        <!-- Register Card -->
        <div class="card p-md-7 p-1">
          <!-- Logo -->
          <div class="app-brand justify-content-center mt-5">
            <a class="app-brand-link gap-2">
              <span class="app-brand-logo demo">

              </span>
              <span class="app-brand-text demo text-heading fw-semibold">MediVIH</span>
            </a>
          </div>
          <!-- /Logo -->
          <div class="card-body mt-1">
            <h4 class="mb-2">Authentification 🚀</h4>

            <form id="formAuthentication" class="mb-3">

              <div class="form-floating form-floating-outline mb-3">
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
                <label for="email">Email</label>
              </div>
              <div class="mb-3form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input type="password" id="password" class="form-control" name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" />
                    <label for="password">Mot de Passe</label>
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                </div>
              </div>

              <div class="mb-4">

              </div>
              <button class="bt">
                Sign up
              </button>
            </form>

            <p class="text-center">
              <span>Vous n'avez pas Un Compte?</span>
              <a href="auth-login-basic.html">
                <span class="login">Créer votre compte</span>
              </a>
            </p>




          </div>
        </div>
        <!-- Register Card -->

      </div>
    </div>
  </div>

  <!-- / Content -->




</body>


</html>
