nav {
  width: 250px; /* ou ce que tu veux pour ta sidebar */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin-top:0px;

  justify-content: center;

}

h1{
  color: rgb(1, 1, 86);
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;


}
.custom-sidebar {
  background-color: #cbdcf0;
  color: white;
}
