<!DOCTYPE html>




<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="assets/" data-template="vertical-menu-template" data-style="light">



<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Register Basic - Pages | Materialize - Material Design HTML Admin Template</title>


  <meta name="description"
    content="Materialize – is the most developer friendly &amp; highly customizable Admin Dashboard Template." />
  <meta name="keywords">


</head>

<body>




  <div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
      <div class="authentication-inner py-6">

        <!-- Register Card -->
        <div class="card p-md-7 p-1">
          <!-- Logo -->
          <div class="app-brand justify-content-center mt-5">
            <a class="app-brand-link gap-2">
              <span class="app-brand-logo demo">

              </span>
              <span class="app-brand-text demo text-heading fw-semibold">Modifier Votre Compte</span>
            </a>
          </div>
          <!-- /Logo -->
          <div class="card-body mt-1">
            <h4 class="mb-2">Créez Votre Compte 🚀</h4>

            <form id="formAuthentication" class="mb-3" (ngSubmit)="updatePractitionner()"
              [formGroup]="updateForm">
              <div class="form-floating form-floating-outline mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username"
                  autofocus formControlName="practitionnerLastName">
                <label for="username">Nom</label>
              </div>
              <div class="form-floating form-floating-outline mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username"
                  autofocus formControlName="practitionnerFirstName">
                <label for="username">Prénom</label>
              </div>
              <div class="form-floating form-floating-outline mb-3">
                <input type="text" class="form-control" id="practitionnerPhoneNumber" name="practitionnerPhoneNumber"
                  placeholder="practitionnerPhoneNumber" autofocus formControlName="practitionnerPhoneNumber">
                <label for="practitionnerPhoneNumber">Numéro de Téléphone</label>
              </div>
              <div class="form-floating form-floating-outline mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                  formControlName="practitionnerEmail">
                <label for="email">Email</label>
              </div>
              <div class="mb-3form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input type="password" id="password" class="form-control" name="password" formControlName="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" />
                    <label for="password">Mot de Passe</label>
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                </div>
              </div><br>


              <button class="bt" type="submit">
                enregistrer
              </button>
            </form>





          </div>

        </div>
        <div *ngIf="messageCommande" class="alert alert-danger" style="color: rgb(18, 11, 11); font-weight: bold;">
          {{ messageCommande }}
        </div>
      </div>
    </div>
  </div>

  <!-- / Content -->




</body>


</html>
