

<div class="app-wrapper default">
  <app-menu></app-menu>

  <div class="app-content">
    <app-header></app-header>
    <div class="container-fluid">
      <div class="container">
        <h3> Dossier Médical du Patient : {{ patient.lastName }} {{ patient.firstName }}</h3>

        <div class="tabs">
          <a [routerLink]="['/medicalfolder', patient?.id]" class="tab">Patient</a>
          <a [routerLink]="['/medicalfolder/listmedicalhistory', patient?.id]" class="tab">Antécédents</a>
          <a [routerLink]="['/medicalfolder/listclinicalsymptoms', patient?.id]" class="tab">Signes Cliniques</a>
          <a [routerLink]="['/medicalfolder/listfunctionalsymptoms', patient?.id]" class="tab">Signes Fonctionnels</a>
          <a [routerLink]="['/medicalfolder/listlaboratory', patient?.id]" class="tab">Résultats Biologiques</a>
          <a [routerLink]="['/medicalfolder/listobservation', patient?.id]" class="tab">Observation</a>
          <a [routerLink]="['/listmedicaltreatment', patient?.id]" class="tab">Traitements</a>

        </div>
      </div>

      <main>
        <div class="container mt-4">
          <div class ="bt">
          <a [routerLink]="['/clinicalsymptoms', patient?.id]" class="btn btn-primary">
            <i class="ri-user-add-line"></i> + signes Cliniques
          </a>
          <!-- Barre de recherche -->
          <div class="input-group" style="max-width: 300px;">
            <input type="date" id="searchPatient" class="form-control" placeholder="Rechercher ..."
              [(ngModel)]="searchDate" (input)="filterByDate()">
            <span class="input-group-text"><i class="ri-search-line"></i></span>
          </div>
        </div>
      </div>

        <div class="container mt-4">
          <div *ngIf="filteredClinicalSymptoms.length > 0; else loading">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead >
                  <tr>
                    <th>Date</th>
                    <th>Signes Généraux</th>
                    <th>Dermatologique</th>
                    <th>Neuro-Musculaire</th>
                    <th>ENT</th>
                    <th>Psychiatrique</th>
                    <th>Cardiovasculaire</th>
                    <th>Digestif</th>
                    <th>Lipodystrophie</th>
                    <th>Génito-Urinaire</th>
                    <th>Ophtalmologique</th>
                    <th>Pulmonaire</th>
                    <th>Puberté</th>

                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let symptom of filteredClinicalSymptoms">
                    <td>{{ symptom.clinicalSymptomsDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ symptom.generalSigns || '-' }}</td>
                    <td>{{ symptom.dermatological || '-' }}</td>
                    <td>{{ symptom.neuroMuscular || '-' }}</td>
                    <td>{{ symptom.ent || '-' }}</td>
                    <td>{{ symptom.psychiatric || '-' }}</td>
                    <td>{{ symptom.cardiovascular || '-' }}</td>
                    <td>{{ symptom.digestive || '-' }}</td>
                    <td>{{ symptom.lipodystrophy || '-' }}</td>
                    <td>{{ symptom.genitourinary || '-' }}</td>
                    <td>{{ symptom.ophthalmological || '-' }}</td>
                    <td>{{ symptom.pulmonary || '-' }}</td>
                    <td>{{ symptom.puberty || '-' }}</td>

                    <td>
                      <button class="btn btn-sm btn-primary" (click)="updateClinicalSymptoms(symptom.id)">Modifier</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Message de chargement si aucun symptôme n'est trouvé -->
          <ng-template #loading>
            <p>pas de signes cliniques...</p>
          </ng-template>
        </div>

      </main>
    </div>
  </div>
</div>

