.app-brand {
 justify-content: center;

}

.mb-1 {
  margin-left: 70px;
}

.bt {
  background-color: #1518c8;
  /* Vert */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 120px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.bt:hover {
  background-color: #8567fe;
  transform: scale(1.05);
}

.bt:active {
  background-color: #bcaef7;
  transform: scale(0.98);
}

.login {
  color: #bd2626;
}

body {
  background-image: url('src/assets/images/bg.jpg');
  background-size: cover;
  /* L’image couvre tout l’écran */
  background-repeat: no-repeat;
  /* Pas de répétition de l’image */
  height: 100vh;
  /* Pleine hauteur de la fenêtre */
  margin: 0;
  padding: 0;
}
