<div class="container">
  <h3>Nouveau Dossier Médical:</h3>

  <div class="tabs">
    <a href="newpatient" class="tab">Nouveau Patient</a>
    <a href="medicalhistory" class="tab">Antécédents</a>
    <a [routerLink]="['/clinicalsymptoms']"  class="tab">Signes Cliniques</a>
    <a [routerLink]="['/functionalsymptoms']"  class="tab">Signes Fonctionnelles</a>
    <a href="laboratory" class="tab">Résultats Biologiques</a>
    <a [routerLink]="['/observation']"  class="tab">Observation</a>

  </div>
</div>
