

  <div class="app-wrapper default">
    <app-menu-admin></app-menu-admin>
    <div class="app-content">
      <app-header-admin></app-header-admin>
      <br><br><br>
      <div class="container-fluid">

        <main>
          <div class="container mt-4">
            <h2>Gestion des options de traitement</h2>
            <!-- Formulaire d'ajout -->
            <div class="mt-4">
              <label for="newOptionName">Ajouter une nouvelle option de traitement :</label>
              <form [formGroup]="addTreatmentForm" (ngSubmit)="addTreatmentOption()" class="d-flex align-items-center">
                <input id="newOptionName" formControlName="treatmentName" class="form-control mb-2 mr-2"
                  placeholder="Nom de l'option" />
                <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Ajouter</button>
              </form>
            </div>
                 <!-- Formulaire de modification -->
                 <div *ngIf="selectedOptionId !== null" class="mt-4">
                  <label for="editOptionName">Modifier l'option de traitement :</label>
                  <form [formGroup]="editTreatmentForm" (ngSubmit)="updateTreatmentOption()"
                    class="d-flex align-items-center">
                    <input id="editOptionName" formControlName="treatmentName" class="form-control mb-2 mr-2" />
                    <button type="submit" class="btn btn-warning"><i class="fas fa-save"></i> Enregistrer</button>
                  </form>
                </div>

            <!-- Tableau -->
            <table class="table table-striped table-bordered mt-4">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom de l'option</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let option of options">
                  <td>{{ option.id }}</td>
                  <td>{{ option.treatmentName }}</td>
                  <td class="d-flex">
                    <button class="btn btn-danger mr-2" (click)="deleteTreatmentOption(option.id)">
                      Supprimer
                    </button>
                    <button class="btn btn-primary" (click)="selectOption(option)">
                      Modifier
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>



          </div>
        </main>

      </div>
    </div>
  </div>

