button{
  background-color: rgb(98, 153, 198);

}
.tabs {

  display: flex;
  border-bottom: 2px solid #ddd;
  background-color: #f9f9f9;
  padding: 5px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
  margin-right: 5px;
  font-weight: bold;
  color: #333;
}


.tab:hover {
  background-color: #93cee5;
  border-radius: 5px;
}


.tab.active {
  border-bottom: 3px solid blue;
  background-color: #e0e0ff;
  color: blue;
  border-radius: 5px;
}
h5{
  color: #7a0f26;
  font-size: 20px;
}
.a{
  display: flex;
  gap: 20px;
}
.scan-button {
  color: white !important;
}
.app-wrapper{
  background-color: rgb(226, 236, 249);

}


.d-flex{
  margin-top: 1000px;
}

.bt {
  display: flex;           /* Utiliser flexbox pour aligner les éléments sur une ligne */
  align-items: center;     /* Aligner verticalement les éléments au centre */
  gap: 10px;               /* Ajouter un espacement de 10px entre les éléments */
}

.input-group {
  margin-left: 10px;       /* Un petit espacement à gauche de la barre de recherche */
}
