<main>
<app-header></app-header>
<app-menu></app-menu>

<div class="container-xl py-5 mt-5">
  <div class="row g-4">
    <!-- Welcome Card -->
    <div class="col-lg-9 col-md-12 order-0">
      <div class="card shadow-sm rounded-4 mb-4">
        <div class="row g-0 align-items-center">
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Bonjour Docteur! 👋</h5>
              <p class="mb-4">
                👋✨ Bienvenue chez MediVIH ! 🏥❤️
              </p>
              <div role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <a routerLink="/listpatient" class="btn btn-outline-primary btn-sm">Mes Patients</a>
            </div>
          </div>
          <div class="col-md-5 text-center">
            <img
              src="assets/img/illustrations/doctor.jpg"
              height="140"
              alt="Staff Manager"
              class="img-fluid"
              data-app-dark-img="illustrations/man-with-laptop-dark.png"
              data-app-light-img="illustrations/man-with-laptop-light.png"
            />
          </div>
        </div>
      </div>

      <div class="row g-4">
        <div class="col-lg-6">
          <div class="card shadow-sm rounded-3 h-100">
            <div class="card-header d-flex justify-content-between">
              <div>
                <h5 class="mb-0">Répartition🚹 Hommes / 🚺 Femmes</h5>
              </div>
            </div>
            <div class="card-body">
              <div style="width: 200px; margin: auto;">
                <canvas id="genderChart"></canvas>
              </div>

</div>
          </div>
        </div>



          <!-- Employee Card 2 -->
          <div class="col-lg-6">
            <div class="card shadow-sm rounded-3 h-100">
              <div class="card-header d-flex justify-content-between">
                <div>
                  <h5 class="mb-0">Les rendez-vous les plus proches 📅:</h5>
                </div>
              </div>
              <div class="card-body">
                <div *ngIf="upcomingAppointments.length">
                  <table class="elegant-table">
                    <thead>
                      <tr>
                        <th>Nom du Patient</th>
                        <th>Téléphone</th>
                        <th>Rendez-vous</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let appointment of upcomingAppointments">
                        <td>{{ appointment.patientName }} {{ appointment.patientSurname }}</td> <!-- Utilise le nom du patient -->
                        <td>{{ appointment.phone }}</td> <!-- Utilise le prénom du patient -->
                        <td >{{ appointment.nextIntakeDate | date:'dd/MM/yyyy' }}</td> <!-- Affiche la date du rendez-vous -->
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div *ngIf="!upcomingAppointments.length">
                  <p>Aucun rendez-vous à venir.</p>
                </div>
              </div>

            </div>
          </div>
        </div>

    </div>

    <!-- Stats Cards -->
    <div class="col-lg-3 col-md-6 order-1">
      <div class="row g-3">
        <!-- Employees Card -->
        <div class="col-12">
          <div class="card shadow-sm rounded-3">
            <div class="card-body">

              <span class="fw-semibold d-block mt-2">Total des Patients🦠:</span>
              <h3 class="card-title">{{totalPatients}}</h3>
            </div>
          </div>
        </div>

        <!-- Trainings -->
        <div class="col-12">
          <div class="card shadow-sm rounded-3">
            <div class="card-body">

              <span class="fw-semibold d-block mt-2">Total Hommes 🧑‍🦱:</span>
              <h3 class="card-title">{{maleNumber}}</h3>

            </div>
          </div>
        </div>

        <!-- Salary -->
        <div class="col-12">
          <div class="card shadow-sm rounded-3">
            <div class="card-body">

              <span class="fw-semibold d-block mt-2">Total Femmes👩‍🦰:</span>
              <h3 class="card-title">{{femaleNumber}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
